.tableContent {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 4px;
  padding-bottom: 6rem;
}

.cardTop {
  display: flex;
  justify-content: space-between;
}

.calendarDay {
  flex-basis: calc(100% / 7 - 4px);
  height: 180px;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  overflow: hidden;
  background-color: #eee4e4;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;

  &.disabled {
    cursor: no-drop;
    opacity: 0.4;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  & p {
    color: #a6a6a6;
  }
}

.current {
  background-color: #cfc9c9;

  & p {
    color: #000000;
  }

  & p.today {
    color: rgb(191, 0, 0);
  }
}

.createTask {
  padding: 4px 8px !important;
  width: 2rem;
  height: 1.5rem;

  &.disabled {
    cursor: no-drop;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  gap: 0.4rem;
}

.taskItem {
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 0.4rem;
}

.taskName {
  white-space: wrap;
  word-break: break-all;
}
