.tableContent {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
}

.calendarDay {
  cursor: pointer;
  flex-basis: calc(100% / 7 - 4px);
  height: 110px;
  position: relative;
  border-radius: 4px;

  background-color: #eee4e4;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  & p {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 10px;
    color: #a6a6a6;
  }
}

.current {
  background-color: #cfc9c9;

  & p {
    color: #000000;
  }
}
